@import url("../app.css");
.add_character {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.add_character_btn {
  margin-top: 2rem;
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 100%;
  background-color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.add_character_form {
  padding: 1rem;
  width: 50%;
  height: 50%;
  background-color: #ecf0f1;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.add_character_form form {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  align-items: center;
}
.add_character_form form span {
  margin-top: 0.8rem;
}
.add_character_form form span:nth-of-type(2) {
  margin-top: 1.2rem;
}
.add_character_form form p {
  margin-top: 0.5rem;
}
.add_character_form form input {
  font-size: 2rem;
  width: 50%;
  margin-top: 1rem;
  font-family: "GmarketSansMedium";
}
.add_character_form form input::-moz-placeholder {
  font-family: "GmarketSansMedium";
}
.add_character_form form input:-ms-input-placeholder {
  font-family: "GmarketSansMedium";
}
.add_character_form form input::placeholder {
  font-family: "GmarketSansMedium";
}
.add_character_form form input:focus {
  outline: none;
}
.add_character_form form button {
  font-family: "GmarketSansMedium";
  font-size: 1.3rem;
  margin-top: 4%;
  width: 25%;
  height: 3.6rem;
  background-color: inherit;
  border: 1px black solid;
  border-radius: 10px;
}

.add_character_form_header {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.add_character_form_header button {
  position: absolute;
  left: 90%;
  top: -5%;
  background-color: inherit;
  border: none;
  font-size: 1.9rem;
}