.tasklist {
  font-family: "GmarketSansMedium";
}

.dailytask,
.weeklytask {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid black;
}
.dailytask h1,
.weeklytask h1 {
  font-size: 2.8rem;
}

.task_header {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.task_header button {
  font-family: "GmarketSansMedium";
  font-size: 1.5rem;
  background-color: inherit;
}

.dailytasks {
  display: flex;
  flex-direction: column;
}

.tasks_btn {
  justify-content: flex-end;
}

.tasks_list {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.tasks_list span {
  font-size: 1.5rem;
}
.tasks_list button {
  font-family: "GmarketSansMedium";
  background-color: inherit;
  border: none;
}

.notset_span {
  margin-top: 1.5rem;
  text-align: center;
}

.task_checked {
  text-decoration: line-through;
}