header {
  width: 100%;
  padding: 20px;
  font-size: 36px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  backdrop-filter: blur(30px);
  height: 8vh;
}
.headerLogo {
  width: fit-content;
}
