header {
  font-family: "Roboto", serif;
  width: 100%;
  padding: 20px;
  font-size: 2.3rem;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  backdrop-filter: blur(30px);
  display: flex;
  height: 8vh;
  a {
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: 5rem;
  }
  button {
    margin-left: 65%;
    background-color: inherit;
    border: none;
    font-size: 2rem;
  }
}
.headerLogo {
  width: fit-content;
  display: flex;
}
